{% extends "layout.html" %}
{% block content %}


<div class="container">

    <h2 class="form-title">Inicia Sesión</h2>
    <form action="/acceso" id="acceso_form" class="form" method="post">

        <h1>Inicie sesion</h1>

        {% if mensaje %}
            {{mensaje}}
            {% endif %}


        <label>Correo</label>
        <input class='input' type="email" name="correo" id="correo" placeholder="Ingrese su Correo" required>



        <label>Apodo</label>
        <input class='input' type="text" name="apodo" id="apodo" placeholder="Ingrese su Apodo" required>



        <label>Contraseña</label>
        <input class='input' type="text" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña" required>

        <center>
        <button type="submit" class="btn-registrarse">Enviar</button>
        </center>

    </form>

</div>
{% endblock %}