{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2 class="form-title">Complete los siguientes campos para su registro en P2P:</h2>
    <form action="/registrar" name="form-registro" class="form-registro">
        <h4>¿Qué desea ser?</h4>
        <div class="role-selection">

            
            <label class="checkbox" for="checkbox1">
                <span class="label">Alumno</span>
                <input checked="" id="checkbox1" type="checkbox" name="rol" value="alumno">
                <span class="checkmark"></span>
            </label>

            <label class="checkbox" for="checkbox2">
                <span class="label">Tutor</span>
                <input checked="" id="checkbox2" type="checkbox"  name="rol" id="tutor" value="tutor">
                <span class="checkmark"></span>
            </label>
            

        </div>

        <label for="nombres">Nombres:</label>
        <input class='input' type="text" name="nombres" id="nombres" placeholder="Ingrese sus nombres" pattern="[A-Za-z ]{3,30}" maxlength="30" required>

        <label for="apellidos">Apellidos:</label>
        <input class='input' type="text" name="apellidos" id="apellidos" placeholder="Ingrese sus apellidos" pattern="[A-Za-z ]{5,30}" maxlength="30" required>

        <label for="nickname">Nombre de usuario:</label>
        <input class='input' type="text" name="nickname" id="nickname" placeholder="Ingrese un nombre de usuario" pattern="[A-Za-z ]{3,30}" maxlength="30" required>

        <label for="telefono">Teléfono:</label>
        <input class='input' type="text" name="telefono" id="telefono" placeholder="Ingrese su número de teléfono" pattern="\d{10}" maxlength="10" required>

        <label for="numControl">Número de control:</label>
        <input class='input' type="text" name="numControl" id="numControl" placeholder="Ingrese su número de control" pattern="[0-9]{5,20}" maxlength="20" required>

        <label for="correoInstitu">Correo institucional:</label>
        <input class='input' type="email" name="correoInstitu" id="correoInstitu" placeholder="Ingrese su correo institucional" maxlength="150" minlength="10" required>

        <label for="grado">Grado:</label>
        <input class='input' type="number" name="grado" id="grado" placeholder="Ingrese su grado" max="10" min="1" required>

        <label for="grupo">Grupo:</label>
        <input class='input' type="text" name="grupo" id="grupo" placeholder="Ingrese su grupo" maxlength="1" pattern="[A-Za-z]{1}" required>

        <div id="tarjetabien" hidden>
            <label for="numTarjetaBien">Número de su tarjeta del Bienestar:</label>
            <input type="text" name="numTarjetaBien" id="numTarjetaBien" placeholder="0000-0000-0000-0000" pattern="\d{4}-\d{4}-\d{4}-\d{4}" maxlength="19">
        </div>

        <label for="contraseña">Contraseña:</label>
        <input class='input' type="password" name="contraseña" id="contraseña" placeholder="Ingrese su contraseña" maxlength="30" 
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!#.-_])([A-Za-z\d!#.-_]|[^\s]){8,30}$" required>

        <label for="confirmContra">Confirmar contraseña:</label>
        <input class='input' type="password" name="confirmContra" id="confirmContra" placeholder="Confirme su contraseña" maxlength="30"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!#.-_])([A-Za-z\d!#.-_]|[^\s]){8,30}$" required>

        <center>
        <button id="registrarse" class="btn-registrarse">Confirmar registro</button>
        </center>
    </form>
</div>
{% endblock %}
